.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    max-width: 800px;
    width: 100%;
}

.search {
    margin-top: 10px;
    margin-bottom: 20px;
}

.types {
    margin-bottom: 15px;
}
